@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model IEnumerable<PRODUCT>

@{
  ViewData["Title"] = "Catalogo";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
 
    <h1>LOGO</h1>
    <div class="container-title">zapatos</div>

    <main>
      <div class="row">
            <div class="container-img col-md-8"> 
                <img src="https://images.unsplash.com/photo-1560769629-975ec94e6a86?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80" alt="imagen-producto">
            </div>
            <div class="container-info-product col-md-4">
                <div class="container-price">
                    <span>$95.00</span>
                    <i class="fa-regular fa-angle-right"></i>
                </div>
                <div class="container-details-products">
                    <div class="form-group">
                        <label for="colour">Color</label>
                        <select name="colour" id="colour">
                            <option disabled selected value=""> Escoge una opción: </option>
                            <option value="rojo"> Rojo </option>
                            <option value="blanco"> Blanco </option>
                            <option value="verde"> Verde </option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="size">Talla</label>
                        <select name="size" id="sieze">
                            <option disabled selected value=""> Escoge una opción: </option>
                            <option value="40"> 40 </option>
                            <option value="42"> 42 </option>
                            <option value="43"> 43 </option>
                            <option value="44"> 44 </option>
                        </select>
                    </div>
                    <button class="btn-clean"> Limpiar </button>
                </div>
                
                <div class="container-add-cart">
                    <div class="container-quantity">
                        <input type="number"  placeholder="1" value="1" min="1" class="input-quantity" />
                        <div class="btn-increment-decrement">
                            <i class="fa-solid fa-chevron-up" id="increment"></i>
                            <i class="fa-solid fa-chevron-down" id="decrement"></i>
                        </div>
                    </div>
                    <button class="btn-add-to-cart">
                        <i class="fa-solid fa-plus"></i>
                        Añadir al carrito
                    </button>
                </div>
                <div class="container-description">
                    <div class="title-description">
                        <h4>Descripción</h4>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <div class="text-description hidden">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, deserunt eveniet, necessitatibus adipisci ullam facilis nam beatae repellendus odit dolores atque, ducimus nostrum quod. Libero aperiam assumenda minus recusandae fugit.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut, deserunt eveniet, necessitatibus adipisci ullam facilis nam beatae repellendus odit dolores atque, ducimus nostrum quod. Libero aperiam assumenda minus recusandae fugit.</p>
                    </div>
                </div>

                <div class="container-additional-information">
                    <div class="title-additional-information">
                        <h4>Información Adicional</h4>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <div class="text-additional-information hidden">
                        <p>--------------</p>
                    </div>
                </div>

                <div class="container-reviews">
                    <div class="title-reviews">
                        <h4>Reseñas</h4>
                        <i class="fa-solid fa-chevron-down"></i>
                    </div>
                    <div class="text-reviews hidden">
                        <p>--------------</p>
                    </div>
                </div>

                <div class="container-social">
                    <span>Compartir</span>
                    <div class="container buttons-social">
                        <a href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a href="#"><i class="fa-brands fa-instagram"></i></a>
                        <a href="#"><i class="fa-brands fa-twitter"></i></a>
                        <a href="#"><i class="fa-brands fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </main>

    <section class="container-related-products">
        <h2>Productos Relacionados</h2>
        <div class="card-list-products">
            <div class="card">
                <div class="card-img">
                    <img src="https://images.unsplash.com/photo-1600185365483-26d7a4cc7519?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1025&q=80" alt="producto-1">
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>Nike - Roshe run</h3>
                        <p class="category">
                            Footwear, sneakers
                        </p>
                    </div>
                    <div class="price">
                        $85.00
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="https://images.unsplash.com/photo-1587563871167-1ee9c731aefb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1131&q=80" alt="producto-2">
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>Commom Projects - Achilles</h3>
                        <p class="category">
                            Footerwear, sneakers
                        </p>
                    </div>
                    <div class="price">
                        $225.00
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="https://images.unsplash.com/flagged/photo-1556637640-2c80d3201be8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="producto-3">
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>Adidas - Boston Super OG</h3>
                        <p class="category">
                            Footwear, sneakers
                        </p>
                    </div>
                    <div class="price">
                        $105.00
                    </div>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="https://images.unsplash.com/photo-1617606002779-51d866bdd1d1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="producto-4">
                </div>
                <div class="info-card">
                    <div class="text-product">
                        <h3>Commom Projects - Achilles</h3>
                        <p class="category">
                            Footwear, sneakers
                        </p>
                    </div>
                    <div class="price">
                        $255.00
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://kit.fontawesome.com/5725f7d06a.js" crossorigin="anonymous"></script>
    <script>
      const inputQuantity = document.querySelector('.input-quantity')
const btnIncrement = document.querySelector('#increment')
const btnDecrement = document.querySelector('#decrement')

let valueByDefault = parseInt(inputQuantity.value)

//Funciones click

btnIncrement.addEventListener('click', () => {
    valueByDefault += 1
    inputQuantity.value = valueByDefault
})

btnDecrement.addEventListener('click', () => {
    if( valueByDefault === 1){
        return
    }
    valueByDefault -= 1
    inputQuantity.value = valueByDefault
})


//Toggle
//Constances toggle Titles

const toggleDescription = document.querySelector('.title-description')
const toggleAdditionalInformation = document.querySelector('.title-additional-information')
const toggleReviews = document.querySelector('.title-reviews')

//Constantes Contenido Texto

const contentDescription = document.querySelector('.text-description')
const contentAdditionalInformation = document.querySelector('.text-additional-information')
const contentReviews = document.querySelector('.text-reviews')

//Funciones de toggle

toggleDescription.addEventListener('click', () => {
    contentDescription.classList.toggle('hidden');
})

toggleAdditionalInformation.addEventListener('click', () => {
    contentAdditionalInformation.classList.toggle('hidden');
})

toggleReviews.addEventListener('click', () => {
    contentReviews.classList.toggle('hidden');
})
    </script>
</body>
