@{
  ViewData["Title"] = "Home Page";
  Layout = "~/Views/Shared/_Layout.cshtml";
}
@* portada *@
<div class="indexlogo">
  <img class="logotipo" src="~/img/icon.png"><br>
  <h2>RAIZEN TECH</h2>
  <p>@ViewBag.Message</p>
</div>

@* texto relleno *@
<div class="container-index text-center">
  <h1 class="display-4 main-heading">Welcome to Raizen Tech</h1>
  <p class="lead main-paragraph">At Raizen Tech, we are committed to providing innovative and high-quality
    telecommunications solutions to meet our customers' needs. Our wide selection of products includes routers, GPON,
    ONU, and many more, all designed to provide stable and reliable connectivity.</p>
</div> <br><br>
@* relleno covid *@
<div class=" container covid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
      <div class="col-md-12">
        <b>
          <h3>COVID-19 Response</h3>
        </b>
      </div>
      <div class="row">
        <div class="col-md-3">
          <img src="img/covid.png" style="height: 90px; padding-top: 5px;">
        </div>
        <div class="col-md-9">
          <p>
            At Ryzen Tech, our top priority is the health and safety of our customers and employees. We are taking
            additional
            steps to ensure that our products and facilities are cleaned and sanitized regularly. In addition, we have
            implemented
            social distancing measures and mask usage in all of our stores to ensure that our customers and employees
            are
            protected while
          </p>
        </div>
      </div>
      <div class="col-md-12">
        <p>
          We do our best to keep our online and in-store services available and running smoothly.
          We appreciate
          your support and understanding during these difficult times and are committed to continuing to provide the
          best
          service and attention to our customers.
        </p>
      </div>

    </div>
  </div>
  <div class="col-md-1"></div>
</div><br>

@* carrusel *@
<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide"><img src="~/img/slide1.jpg" alt=""></div>
    <div class="swiper-slide"><img src="~/img/slide2.jpg" alt=""></div>
    <div class="swiper-slide"><img src="~/img/slide3.jpg" alt=""></div>
    <!-- ... -->
  </div>
  <div class="swiper-pagination"></div>
</div>
</div>

@* inicio High Speed*@
<b>
  <p id="hs">HIGH SPEED</p>
</b>
<hr class="hs"><br>

<section class="card feature-box centrar-todo">
  <div class="container row">
    <div class="col-md-4">
      <img src="~/img/high-speed.jpg" class="card-img-top" alt="High speed" style="padding-top:10px;">
      <h3 class="card-title">High Speed</h3>
      <p class="card-text">
        Our products offer ultra-fast connection speeds, allowing for an unparalleled browsing
        and data transfer experience. With Raizen Tech, you'll always be connected at the pace of the digital
        world.
      </p><br>
    </div>
    <div class="col-md-4">
      <img src="~/img/compact-design.jpg" class="card-img-top" alt="Compact design">
      <h3 class="card-title">Compact Design</h3>
      <p class="card-text">
        Our telecommunications devices feature compact and stylish designs, easily adapting to
        any space and environment. Don't sacrifice style or functionality with Raizen Tech.
      </p><br>
    </div>
    <div class="col-md-4">
      <img src="~/img/easy-setup.jpg" class="card-img-top" alt="Easy setup">
      <h3 class="card-title">Easy Setup</h3>
      <p class="card-text">
        Our products are designed with the user in mind, offering a quick and simple setup. In
        just a few steps, you'll have your telecommunications devices running at peak performance.
      </p><br>
    </div>
  </div>

</section><br>



@* inicio most popular products *@

<b>
  <p id="hs">MOST POPULAR PRODUCT</p>
</b>
<hr class="hs"><br>
<section class="card centrar-todo">
  <div class="container row">
    <div class="col-md-4">
      <img src="~/img/router.jpg" class="card-img-top" alt="Router 1">
      <div class="card-body">
        <h3 class="card-title">Huawei Router</h3>
        <p class="card-text">The Router 1 is ideal for those looking for a reliable and high-speed connection.
          Its easy setup and compact design make it the perfect choice for any home or small business.</p><br>
      </div>
    </div>
    <div class="col-md-4">
      <img src="~/img/gpon.png" class="card-img-top" alt="GPON">
      <div class="card-body">
        <h3 class="card-title">GPON</h3>
        <p class="card-text">Our GPON system offers a high-capacity and scalable optical access solution,
          allowing for efficient distribution of broadband services to multiple users. It is ideal for operators
          looking for an optimal network infrastructure.</p><br>
      </div>
    </div>
    <div class="col-md-4">
      <img src="~/img/onu.jpg" class="card-img-top" alt="ONU">
      <div class="card-body">
        <h3 class="card-title">ONU</h3>
        <p class="card-text">Our Optical Network Unit (ONU) provides a last-mile access solution for fiber-optic
          networks. With a simple setup and a compact design, our ONU ensures a stable and high-speed connection for
          end subscribers.</p>
        <bt></bt>
      </div>
    </div>
  </div>
</section><br>

@* mapa *@
<b>
  <p id="hs">FIND US</p>
</b>
<hr class="hs"><br>
<div class="container map">
  <iframe class="map"
    src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15602.841502675252!2d-77.00817897969972!3d-12.131958106414583!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2spe!4v1682723871292!5m2!1ses-419!2spe"
    width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
</div><br><br>

@* comentarios *@
<b>
  <p id="hs">COMMENTS</p>
</b>
<hr class="hs"><br>
<section class="comment-section">
  <ul class="comment-list">
    <li class="row comment">
      <div class="comment__avatar col-md-4">
        <img
          src="https://img.freepik.com/vector-premium/icono-circulo-usuario-anonimo-ilustracion-vector-estilo-plano-sombra_520826-1931.jpg"
          alt="Avatar" class="avatar">
      </div>
      <div class="comment__content col-md-8">
        <h3 class="comment__author">Franchesco Zidan</h3>
        <time datetime="2023-04-28T09:30:00" class="comment__date">Posted on April 28, 2023</time>
        <p class="comment__body">Good Website</p>
      </div>
    </li>

    <li class="row comment">
      <div class="comment__avatar col-md-4">
        <img
          src="https://img.freepik.com/vector-premium/icono-circulo-usuario-anonimo-ilustracion-vector-estilo-plano-sombra_520826-1931.jpg"
          alt="Avatar" class="avatar">
      </div>
      <div class="comment__content col-md-8">
        <h3 class="comment__author">Rafaella Arya</h3>
        <time datetime="2023-04-27T10:15:00" class="comment__date">Posted on April 27, 2023</time>
        <p class="comment__body">Very happy, my routers work great and my signal is the best when I buy my personal
          things</p>
      </div>
    </li>
  </ul><br><br>
  <hr class="lineacomment">
  <form class="comment-form">
    <h3>Leave a comment</h3><br>
    <div class="container row comment-form__group">
      <div class="col-md-4"><label for="comment">Comment:</label></div>
      <div class="col-md-8">
        <textarea id="comment" name="comment" placeholder="Sends a comment" required></textarea>
        <button><i class="fas fa-paper-plane"></i></button>
      </div>
    </div>
  </form>
</section>

</div>
