@{
  ViewData["Title"] = "Home Page";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
  .container-index {
    color: white;
    padding: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    padding: 80px;
  }

  .image-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin-bottom: 150px;
  }

  .image-container img {
    width: 600px;
  }

  .container-index h1,
  h2,
  h3 {
    color: #1e3c72;
  }

  .container-index a {
    color: #1e3c72;
  }

  .section-title {
    margin-bottom: 40px;
  }

  .feature-box {
    margin-bottom: 30px;
  }

  .card {
    border-radius: 15px;
    transition: all ease 0.2s;
  }

  .card:hover {
    scale: 1.02;
  }

  .card-img-top {
    border-radius: 15px 15px 0 0;
    width: 100%;
    height: 200px;
    object-fit: cover;

  }

  .card-text {
    text-align: justify;
    font-size: 15px;
  }

  .main-heading {
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
  }

  .main-paragraph {
    font-weight: 300;
    margin-bottom: 30px;
    text-align: center;
  }


  .main-image {
    max-width: 100%;
    max-height: 100%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  }

  .card {
    background: none;
    color: white !important;
    border: none;
  }

  .card-title {
    color: white;
  }
</style>


<div class="container-index text-center">
  <h1 class="display-4 main-heading">Welcome to Raizen Tech</h1>
  <p class="lead main-paragraph">At Raizen Tech, we are committed to providing innovative and high-quality
    telecommunications solutions to meet our customers' needs. Our wide selection of products includes routers, GPON,
    ONU, and many more, all designed to provide stable and reliable connectivity.</p>
  <div class="image-container">
    <img
      src="https://images.unsplash.com/photo-1555685812-4b943f1cb0eb?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&ixlib=rb-1.2.1&q=80&w=400"
      alt="Telecom products" class="main-image" />
  </div>
  <h2 class="section-title">Highlighted Features</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="card feature-box">
        <img src="~/img/high-speed.jpg" class="card-img-top" alt="High speed">
        <div class="card-body">
          <h3 class="card-title">High Speed</h3>
          <p class="card-text">Our products offer ultra-fast connection speeds, allowing for an unparalleled browsing
            and data transfer experience. With Raizen Tech, you'll always be connected at the pace of the digital
            world.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card feature-box">
        <img src="~/img/compact-design.jpg" class="card-img-top" alt="Compact design">
        <div class="card-body">
          <h3 class="card-title">Compact Design</h3>
          <p class="card-text">Our telecommunications devices feature compact and stylish designs, easily adapting to
            any space and environment. Don't sacrifice style or functionality with Raizen Tech.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card feature-box">
        <img src="~/img/easy-setup.jpg" class="card-img-top" alt="Easy setup">
        <div class="card-body">
          <h3 class="card-title">Easy Setup</h3>
          <p class="card-text">Our products are designed with the user in mind, offering a quick and simple setup. In
            just a few steps, you'll have your telecommunications devices running at peak performance.</p>
        </div>
      </div>
    </div>
  </div>
  <br><br><br>
  <h2 class="section-title">Most Popular Products</h2>
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <img src="~/img/router.jpg" class="card-img-top" alt="Router 1">
        <div class="card-body">
          <h3 class="card-title">Huawei Router</h3>
          <p class="card-text">The Router 1 is ideal for those looking for a reliable and high-speed connection.
            Its easy setup and compact design make it the perfect choice for any home or small business.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="~/img/gpon.png" class="card-img-top" alt="GPON">
        <div class="card-body">
          <h3 class="card-title">GPON</h3>
          <p class="card-text">Our GPON system offers a high-capacity and scalable optical access solution,
            allowing for efficient distribution of broadband services to multiple users. It is ideal for operators
            looking for an optimal network infrastructure.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <img src="~/img/onu.jpg" class="card-img-top" alt="ONU">
        <div class="card-body">
          <h3 class="card-title">ONU</h3>
          <p class="card-text">Our Optical Network Unit (ONU) provides a last-mile access solution for fiber-optic
            networks. With a simple setup and a compact design, our ONU ensures a stable and high-speed connection for
            end subscribers.</p>
        </div>
      </div>
    </div>
  </div>
</div>