@{
    ViewData["Title"] = "Login";
}
<img class="logotipo" src="~/img/icon.png">
<p>Login to your account</p>

<label>Your Name</label><br>
<input type="text" placeholder="yourname"class="icon-name"><br><br>

<label>Password</label><br>
<input type="password" placeholder="" class="icon-password"><br><br><br><br>

<button class="btn-login-p">Sign in</button><br><br>
<div class="container">
  <div class="linea1"></div>
  <div class="Or">Or</div>
  <div class="linea2"></div>
</div><br><br>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <button class="iclog"><img src="~/img/logo-google.png" width="50px"></button>
        </div>
        <div class="col-md-4">
            <button class="iclog"><img src="~/img/logo-apple.png" width="30px"></button>
        </div>
        <div class="col-md-4">
            <button class="iclog"><img src="~/img/logo-fb.png" width="50px"></button>
        </div>
    </div>
</div>